.successContainer {
  width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 2rem;
}

.successImage {
  position: relative !important;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  height: 100%;
  object-fit: contain;
}

.successContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.successContent h1 {
  color: var(--primary);
  font-family: var(--font-nunito);
  font-weight: 600;
  font-size: 2rem;
}

.successContent p {
  color: var(--text-black);
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}