.prizeCard {
  position: relative;

  width: 100%;
  height: 100%;
  max-height: 276px;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background: var(--white);
  border-radius: 0.75rem;
}

.prizeCard span {
  color: var(--primary);

  text-align: center;
  font-family: var(--font-open-sans);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.18;
}

.prizeCardImage {
  position: relative !important;

  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  width: 100%;
  max-width: 183px;
  max-height: 183px;
  height: 100%;

  object-fit: contain;
}