.mainContainer {
  max-width: 1200px;
  margin: 0 auto;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  padding: 4rem 9.0625rem;
}

.titleSection {
  color: var(--primary);

  text-align: center;
  font-family: var(--font-nunito);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}

.white {
  color: var(--white) !important;
}


@media (max-width: 768px) {
  .titleSection {
    font-size: 1.5rem;
  }
}