.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  width: 100%;
  background: var(--primary);
  padding: 4.0625rem 0;
}

.formContainer {
  width: 100%;
  max-width: 1200px;

  padding: 0 1.375rem;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.formHeader {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  margin-bottom: 1.5rem;
}

.formDescription {
  color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.46;
  text-align: center;
}

.formButtonContainer {
  width: 100%;
  display: inline-flex;

  margin-top: 1.5rem;
}

.formButtonContainer button {
  width: 100%;
}