.prizeHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
}

.prizeHeaderContainer h2 {
  color: var(--primary);

  text-align: center;
  font-family: var(--font-nunito);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.3;
}

.prizeHeaderContainer p {
  color: var(--text-black);

  text-align: center;
  font-family: var(--font-open-sans);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.46;

}

.prizeListContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.titleSection {
  color: var(--primary);

  text-align: center;
  font-family: var(--font-nunito);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}

.white {
  color: var(--white) !important;
}

.prizeList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: stretch;
}

.prizeList>div {
  flex: 0 1 270px;
  width: 270px;
  min-width: 270px;
  max-width: 270px;

  display: flex;
  flex-direction: column;
  height: 276px;
}


@media (max-width: 768px) {
  .container {
    padding: 64px 22px;
  }

  .prizeHeaderContainer h2 {
    font-size: 2.25rem;
  }

  .prizeHeaderContainer p {
    font-size: 1rem;
  }

  .titleSection {
    font-size: 1.5rem;
  }

  .prizeList>div {
    flex: 0 1 232px;
    width: 232px;
    min-width: 232px;
    max-width: 232px;
  }
}