:root {
  --background: #F5F5F5;
  --white: #ffffff;
  --text-black: #1E1E1E;
  --primary: #073B59;
  --error: #FF5C5C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}